@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: rgba(0, 0, 0, 0.85);
  font-family: "Clear Sans";
  text-align: center;
  color: white

}

h1 {
    font-size: 55px;
    padding: 5px;

}

p1 {
  font-size: 25px;
  padding: 10px;
  margin: 3px;
}

.board {
  background: rgba(45, 67, 96, 1);
  margin: 0 auto;
  padding: 8px;
  width: 472px;
  height: 472px;
  border-radius: 7px;
}

.cell {
  font: arial;
  font-style: bold;
  font-size: 50px;
  background: rgba(63, 79, 95, 1);
  border: 3px solid gray;
  border-radius: 7px;
  float: left;
  margin: 3px;
  width: 108px;
  height: 108px;

}

.cell div {
  margin-top: 10px;
}



